
body{
    font-family: "Ubuntu";
}

#title{
    background-color: #E2294F;
    color: white;

}
h1{
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;

}

h2{
    font-family: Montserrat;
    font-size: 3rem;
    line-height: 2;
}

.h3-text{
    font-weight: bold;
    font-size: 2em;
}
.p-text{
    font-size: 1.5em;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar{
    padding: 5px 5rem 4.5rem 5rem;
}

.download-btn{
    margin: 5% 2% 5% 2%;
}

.iphone-img{
    width: 60%;
    transform: rotate(25deg);

}

nav>a{
    font-family: 'Ubuntu',sans-serif;

}

.icons{
    color: #e43d5e;
    padding-bottom: 15px;
}

/* =========FEATURES======= */

#features{
    margin: 5% 15%;   
}

.features{
    text-align: center;
}

/* ======= TESTOMONIAL ====== */
#testimonials{
    background-color: #e43d5e;
    font-family: Montserrat;
    text-align: center;
  
    color: #fff;
}

.carousel-inner{
    padding: 7% 15%;
}



em{
    font-size: 1.5em;
}
.testimonial-img{
   width: 15%;
   border-radius: 100%;
    margin: 20px;
}


/* == PRESS ===== */

#press{
    text-align: center;
    padding-bottom: 3%;
    padding: 3%;
}

.press-logo{
    width: 15%;
    margin: 2%;
}

/* ======= PRICING========== */

#pricing{
    text-align: center;
}

.price-card{
    padding: 1%;
}

#cta{
    background-color: #E2294F;
}

.footer{
    background-color: #E2294F;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

.footer-text{
    margin: auto;
    padding: 3%;
    
}

/* ===RESPONSIVE ======== */

@media (max-width:1300px){
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1em;
        
    }
    h2,h3{
        font-size: 1em;
    }
    .em-text{
        font-size: 1em;
    }
    .h3-text{
        font-size: 1.5em;
    }
    .p-text{
        font-size: 1em;
    }
    .iphone-img{
        padding-top: 5%;
        margin: 10%;
    }
    .footer{
        font-size: 1em;
    }
    .navbar{
        padding: none;
    }

}